services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - webnet

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - webnet

networks:
  webnet:
